body{
    margin: 0;
    padding: 0;
}
.navbar{
    padding: 36px 0;
}
.navbar ul{
    position: absolute;
    right: 0;
}

/* about section */
.about-section{
    margin-top: 100px;
}
.btn-style{
    border:none;
    background: linear-gradient(to bottom, #ff8063 21%, #ff8063 99%);
    color: #fff;
    padding: 7px 24px;
    border-radius: 5px;
}
.text-color-1{
   color :#363958;
}
.text-color-2{
    color: #FF8367;
}
.text-color-3{
    color: #3E3E3E;
}
.common-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
.text-align{
    margin-top:80px;
}
/* work section */
.work-container{
    background-color:#E5E5E5; 
    padding: 92px 0 190px 0;
    margin-top: 100px;
}
.work-container > .container{
    margin-top: -45px;
}
.row{
    margin-top: 93px;
}
/* contact section */
.contact-container{
    margin-top: 100px;
    position: relative;
}
.contact-container h2{
    position: absolute;
    top: 63px;
    left: 357px;
    color: #fff;
}
.contact-container button{
    position: absolute;
    top: 67px;
    right: 377px;
}

/* footer */
.footer{
    margin-top: 100px;
    margin-bottom:20px
}
